body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2rem;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 24rem;
  max-width: 44rem;
  margin: 2rem;
}

@media (max-width: 600px) {
  .main-content-container {
    margin: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.main-content-container > .header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 16rem;
  width: 100%;
  border-radius: 0.5rem;
}

.main-content-container > .header:after {
  content: "";
  display: block;
  padding-top: 25%;
}

.main-content-container > .introduction {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  min-height: 2rem;
  max-height: 4rem;
  height: 5%;
  font-size: larger;
}

@media (max-width: 600px) {
  .main-content-container > .introduction {
    font-size: large;
  }
}

.main-content-container > .chat-window {
  min-height: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  margin-bottom: 12px;
  background: #222;
  border-radius: 0.5rem;
  min-height: 5rem;
}
.message {
  margin-bottom: 1.5rem;
  padding: 8px;
  background-color: #333;
  border-radius: 0.85rem;
  width: fit-content;
  max-width: 80%;
  animation: fadeIn 0.5s;
}

.message:last-child {
  margin-bottom: 0;
}

.message.user {
  align-self: flex-end;
  background-color: #3770b0;
  border-radius: 0.8rem 0.8rem 0.2rem 0.8rem;
}

.message.assistant {
  align-self: flex-start;
  background-color: #575757;
  display: flex;
  align-items: center;
  border-radius: 0.8rem 0.8rem 0.8rem 0.2rem;
}

.message-form {
  display: flex;
  background-color: #333;
  border-top: 1px solid #333;
  padding: 0;
  border-radius: 0.5rem;
}

.message-input, .send-button {
  padding: 12px;
  border: none;
  border-radius: 0.5rem;
}

.message-input:focus {
  outline: none;
  border-radius: 0.5rem;
}

.message-input {
  flex-grow: 1;
  background-color: #333;
  color: white;
  border: none;
  padding: 1rem;
  resize: none;
  overflow-y: auto;
  line-height: 1.2rem;
  max-height: 4rem;
  height: 1.2rem;
  font-family: 'Arial', sans-serif;
}

.send-button {
  background-color: #3770b0;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
}

.send-button:hover {
  background-color: #57a2ff;
}

.assistant-avatar {
  height:1.5rem;
  width:1.5rem;
  border-radius: 1.5rem;
  /* background-color: #aaa; */
  margin-right: 0.5rem;
}

#assistant-prompt {
  animation: fadeIn 1.25s;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
