body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2rem;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 26rem;
  margin: 2rem;
}

@media (max-width: 600px) {
  .main-content-container {
    margin: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  .main-content-container > .header {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1400px) {
  .main-content-container {
    width: 30rem;
  }
}

.main-content-container > .header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 12rem;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 2rem;
}

.main-content-container > .header:after {
  content: "";
  display: block;
  padding-top: 25%;
}

.main-content-container > .header > .header-logo {
  height: 5.4rem;
  width: 9rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1.75rem;
}

.main-content-container > .introduction {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  min-height: 2rem;
  max-height: 4rem;
  height: 5%;
  font-size: larger;
}

@media (max-width: 600px) {
  .main-content-container > .introduction {
    font-size: large;
  }
}
