.chat-window {
  min-height: 50%;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  margin-bottom: 12px;
  background: #222;
  border-radius: 0.5rem;
  min-height: 5rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.message {
  margin-bottom: 1.5rem;
  padding: 8px;
  background-color: #333;
  border-radius: 0.85rem;
  word-wrap: break-word;
  max-width: 80%;
  animation: fadeUp 0.5s;
}

.message:last-child {
  margin-bottom: 0;
}

.message.user {
  align-self: flex-end;
  background-color: #3770b0;
  border-radius: 0.8rem 0.8rem 0.2rem 0.8rem;
}

.message.assistant {
  align-self: flex-start;
  background-color: #575757;
  display: flex;
  align-items: center;
  border-radius: 0.8rem 0.8rem 0.8rem 0.2rem;
}

.message#assistant-reload-button {
  background-color: #3770b0;
  box-shadow: inset -4px -4px 8px #295a8e, inset 4px 4px 8px #5297e8;
  animation: colorChange 3s, fadeIn 1.5s;
  border-radius: 1.5rem;
  margin-left: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.message#assistant-reload-button:hover {
  background-color: #5388c6;
  box-shadow: inset -4px -4px 8px #35689e, inset 4px 4px 8px #7bace3;
}

.message#assistant-reload-button:active {
  background-color: #3770b0;
  box-shadow: inset 4px 4px 4px #2b5787, inset -4px -4px 4px #35689e;
}

.message-form {
  display: flex;
  background-color: #333;
  border-top: 1px solid #333;
  padding: 0;
  border-radius: 0.5rem;
}

.message-input, .send-button {
  padding: 12px;
  border: none;
  border-radius: 0.5rem;
}

.message-input:focus {
  outline: none;
  border-radius: 0.5rem;
}

.message-input {
  flex-grow: 1;
  background-color: #333;
  color: white;
  border: none;
  padding: 1rem;
  resize: none;
  overflow-y: auto;
  line-height: 1.2rem;
  max-height: 4rem;
  height: 1.2rem;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.send-button {
  background-color: #3770b0;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
}

.send-button:hover {
  background-color: #57a2ff;
}

.assistant-avatar {
  height:1.5rem;
  width:1.5rem;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
}

#assistant-prompt {
  animation: fadeUp 1.25s;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  25% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes colorChange {
  0% { background-color: #3770b0; }
  33% { background-color: #3770b0; }
  66% {
    background-color: #5c90cd;
    box-shadow: inset -4px -4px 8px #35689e, inset 4px 4px 8px #95c7ff;
  }
  100% { background-color: #3770b0; }
}
